@import url('https://fonts.googleapis.com/css2?family=PTSerif&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #BABABF;
    color: #262626;
    font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav, h2, footer {
    font-family: 'PT Serif', 'Times New Roman', Times, serif;
}

/*#region Headings, navigation menu, logo */
nav {
    background-color: whitesmoke;
    height: 90px;
    display: flex;
}

nav h1 {
    display: inline;
    vertical-align: text-bottom;
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 500;
}

.logo {
    height: 50px;
    width: 50px;
}

#logo-container {
    display: flex;
    flex: 2;
    align-items: center;
    padding-left: 20px;
}

#menu-container {
    flex: 1;
}

ul {
    list-style-type: none;
}

#menu, #small-screen-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
    vertical-align: text-bottom;
    height: 100%;
}

#menu > li {
    display: flex;
    height: 100%;
    align-items: center;
}

#menu > li, #small-screen-menu > li {
    padding-left: 20px;
}

#menu > li:hover,
#small-screen-menu > li:hover {
    background-color: rgba(97, 33, 76, .8);
}

#menu > li:hover a,
#small-screen-menu > li:hover a {
    color: whitesmoke;
}

#menu > li:hover div a,
#small-screen-menu > li:hover div a,
#footer-nav-list a {
    color: inherit;
}

#menu > li a,
#small-screen-menu > li a {
    text-decoration: none;
    color: inherit;
    padding-right: 20px;
}

#menu > hr {
    background-color: black;
    width: .5px;
    height: 50px;
}

.dropdown-menu {
    position: relative;
}

.dropdown-content {
    width: 198px;
    top: 90px;
    left: 0px;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

#burger-menu {
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    padding-right: 20px;
    justify-content: center;
}

.bar {
    background-color: #262626;
    width: 50px;
    height: 2px;
    margin-bottom: 10px;
}

.shadow-effect {
    box-shadow: 0 5px 5px #6c748c66 inset;
}
/*#endregion */

/*#region Header */
.header-dimensions {
    width: 100%;
    height: 600px;
}

#header-image {
    position: absolute;
    background: url(../images/header-image.jpg) no-repeat center/cover #6c748c66;
}

#header-text {
    font-size: 2rem;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-text-bg
{
    background-color: mintcream;
    opacity: 0.8;
}
/*#endregion*/

/*#region Content */
#main-content,
#mindfulness-content,
#purpose {
    padding: 50px 20px;
}

#purpose {
   box-shadow: -5px -10px 6px -8px #6c748c66 inset
}

#main-content {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-aligned {
    text-align: left;
}

.center-aligned {
    text-align: center;
}

.centered-content {
    display: flex;
    align-items: center;
}

.right-aligned {
    text-align: right;
}

section h2 {
    background-color: #ffffff55;
    border: 1px solid rgba(0, 0, 0, .4);
}

section p {
    font-size: 1.3rem;
    padding: 10px 0;
}

#mindfulness-content {
    padding: 50px 20px;
}

#mindfulness-content section img {
    height: 83vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 5%;
    filter: drop-shadow(2px 4px 6px #262626);
}

#mindfulness-content section > div:not(.mindful-bg) {
    padding: 50px;
}

#mindful-body {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

#mindful-body > img {    
    padding: 50px 0 50px 50px;
}

.mindful-bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: .2;
    box-shadow: 2px 5px 5px #262626;
    border: 1px solid;
}

#mindful-bg-1 {
    background-color: #6c748c;
}

#mindful-bg-2 {
    background-color: #f29188;
}

#mindful-mental {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#mindful-mental > img {    
    padding: 50px 50px 50px 0;
}

#mindful-mental div:not(.mindful-bg) {
    width: 100%;
}

iframe {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: none;
}

#body-video-collection iframe:last-child {
    margin: 0 auto;
}

#body-video-collection,
#mental-video-collection {
    display: flex;
}

#body-video-collection {
    flex-wrap: wrap;
}

#app-recommendations {
    width: 80%;
    margin: 10px auto 0 auto;
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    border: 1px solid #262626;
    width: 50%;
    min-width: 200px;
    background-color: rgba(255, 255, 255, .3);
}

.app-icon {
    width: 150px;
    margin: 0 auto;
}
/*#endregion*/

.separator {
    height: .5px;
    background-color: #26262677;
    margin: 0 20%;
}

footer {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(97, 33, 76);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: .9rem;
}

#footer-logo {
    margin-right: 15px;
}

#footer-nav-list {
    margin-top: 5px;
}

#footer-nav-list a {
    text-decoration: none;
}

.footer-link, #footer-nav-list a:hover {
    color: #f29188;
}

.footer-nav-list-item {
    margin-left: 20px;
}

.vertical-center {
    margin: auto 0;
}

#form-section-header {
    margin-left: 65px;
}

form {
    max-width: 240px;
}

button[type=submit] {
    padding: 5px;
    border-radius: 5px;
    background-color: #BABABF;
}

.form-separator {
    height: .5px;
    background-color: white;
    margin-top: 10px;
    width: 80%;
}

input {
    margin-top: 20px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: #6C748C;
}

@media screen and (max-width: 1200px) {    
    #body-video-collection iframe:last-child {
        width: auto;
    }
}

@media screen and (max-width: 1070px) {
    #menu {
        display: none;
    }

    #burger-menu {
        display: flex;
    }

    #menu-container {
        flex: 0;
    }

    nav h1 {
        text-align: center;
        flex: 1;
    }

    #burger-menu .dropdown-content {
        left: -88px;
    }
}

@media screen and (max-width: 1001px) {
    #body-video-collection > iframe,
    #body-video-collection iframe:not(:last-child),
    #mental-video-collection > iframe {
        width: 100%;
    }

    #mindful-mental div:not(.mindful-bg) {
        width: auto;
    }

    #body-video-collection,
    #mental-video-collection {
        display: block;
    }
    
    #body-video-collection iframe:last-child {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #main-content {
        display: block;
    }
    
    .column,
    #mindfulness-content div > p {
        text-align: center;
    }

    #mindfulness-content section img {
        height: 50%;
        position: relative;
        padding: 20px;
    }
    
    #mindfulness-content section > div:not(.mindful-bg) {
        padding: 20px;
    }

    #mindful-img-1 {
        content:url(../images/mindfulness-body-2-image.jpg);
    }

    #mindful-img-2 {
        content:url(../images/mindfulness-mental-2-image.jpg);
    }

    #mindful-body {
        flex-direction: column;
    }

    #mindful-mental {
        flex-direction: column-reverse;
    }

    footer, .row {
        display: block;
    }

    form {
        margin: auto !important;
    }

    .form-separator {
        margin: 10px auto 0 auto;
    }

    #footer-logo {
        margin-right: 0;
    }

    #form-section-header {
        margin-bottom: 10px;
    }

    #form-section-header, .footer-nav-list-item {
        margin-left: 0;
    }

    footer .column {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 695px) {
    nav h1, #menu {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 590px) {
    nav h1 {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #app-recommendations {
        display: block;
        width: 200px;
    }
}