@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #BABABF;
    color: #262626;
    font-family: 'PT Serif', 'Times New Roman', Times, serif;
}

h1, h2 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*#region Headings, navigation menu, logo */
nav {
    background-color: whitesmoke;
    line-height: 50px;
    height: 90px;
    display: flex;
}

nav h1 {
    display: inline;
    vertical-align: text-bottom;
    margin-left: 15px;
    font-size: 2rem;
}

#logo {
    height: 50px;
    width: 50px;
}

#menu-container, #logo-container {
    flex: 1;
}

#logo-container {
    padding-left: 20px;
    padding-top: 20px;
}

#logo-container h2 {
    margin-left: 15px;
    font-weight: 500;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
    vertical-align: text-bottom;
    list-style-type: none;
    height: 100%;
}

#menu > li {
    height: 100%;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

#menu > li:hover {
    background-color: rgb(97, 33, 76, .8);
}

#menu > li:hover a {
    color: whitesmoke;
}

#menu > li:hover div a {
    color: inherit;
}

#menu > li a {
    text-decoration: none;
    color: inherit;
    padding-right: 20px;
}

#menu > hr {
    background-color: black;
    width: .5px;
    height: 50px;
}

.dropdown-menu {
    position: relative;
}

.dropdown-content {
    width: 198px;
    top: 90px;
    left: 0px;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.shadow-effect {
    box-shadow: 0 4px 8px #6c748c66 inset;
}
/*#endregion */

/*#region Header */
.header-dimensions {
    width: 100%;
    height: 600px;
}

#header-image {
    position: absolute;
    background: url(../images/header-image.jpg) no-repeat center/cover #6c748c66;
}

#header-text {
    font-size: 2rem;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-text-bg
{
    background-color: mintcream;
    opacity: 0.8;
}
/*#endregion*/

#main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
}

.left-aligned {
    text-align: left;
}

.center-aligned {
    text-align: center;
}

.right-aligned {
    text-align: right;
}

section h2 {
    background-color: #ffffff55;
    border: 1px solid rgba(0, 0, 0, .4);
}

section p {
    font-size: 1.3rem;
}

#mindful-body {
    background-color: #6c748c;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
}

#mindful-mental {
    background-color: #f2918877;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}

#mindful-mental div {
    width: 100%;
}

#closing-content {
    padding: 20px;
}

footer {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    #main-content {
        display: block;
    }
    
    .column {
        text-align: center;
        padding-bottom: 30px;
    }
}